body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}

#searchBox {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

#map {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
}

#suggestionsBox {
  margin-top: 10px;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 80%;
  margin: auto;
  text-align: left;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.cab-image {
    width: 30px;  /* Adjust based on your map scale */
    height: auto;
    transition: transform 0.2s ease-in-out;
  }
  
